<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
<customErrors mode="Off"/>
    </system.web>

	<appSettings>
	  <add key="CLIENT_ID" value=""/>
	  <add key="CLIENT_SECRET" value=""/>
	  <add key="OPENID_PROVIDER_URL" value="https://accounts.google.com/"/>
	  <add key="OPENID_REALM" value="ドメイン"/>
	  <add key="CALLBACK_URL" value="https://ドメイン/openidconnect/openidconnect.aspx"/>
	</appSettings>


</configuration>
